.header{
  height:5.5rem;
  box-shadow:0 2px 4px 0;
  color:black;
  right:0;
  left:0;
}

.logo{
  height:5rem;
  width:10rem;
  padding-bottom:5px;
  padding-left: 3px;
  margin:10px 5px 14px 80px;
}
