.header{
  height:5.5rem;
  box-shadow:0 2px 4px 0;
  color:black;
  right:0;
  left:0;
}

.logo{
  height:5rem;
  width:10rem;
  padding-bottom:5px;
  padding-left: 3px;
  margin:10px 5px 14px 80px;
}

.callToAction{
      position: absolute;
      top: 4%; right: 100px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
}

a{
          font-size: 1.8rem;
          line-height: 1;
          color: black;
          text-decoration: none;
          text-transform: uppercase;
          cursor: pointer;
}
ul{
  list-style-type:none;
}
